<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<h1>p1 X vs p2 O</h1>
	<h2>"siguiente jugador: p1"</h2>
	<h2>"siguiente jugador: p2"</h2>	
	<form method="post" action="/jugada">
		<input type="submit" value="play">
	</form>
</body>
</html>